@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
  line-height: 1.6; }

h1, h2, h3, h4, section.container .container-item p {
  line-height: 1.3; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.img {
  width: 100%; }

.section-footer {
  padding: 4rem 0; }
  .section-footer .container {
    max-width: 100%;
    margin: auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem; }
  .section-footer .footer-image {
    margin-bottom: 6rem; }
  .section-footer .contain1 {
    width: 40vw; }
  .section-footer p {
    margin-bottom: 1rem; }
  .section-footer ul li {
    margin-bottom: 0.5rem; }
  .section-footer a > i {
    margin-right: 2rem;
    margin-top: 5rem;
    color: #505050; }
  .section-footer .hoopper {
    border-bottom: 2px solid black; }
  .section-footer .supporticon {
    margin-left: 0.5rem; }

.navbar {
  font-size: 1.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-top: 2rem; }
  .navbar .container {
    max-width: 100%;
    margin: auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 6rem; }
  .navbar .nav {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center; }
  .navbar .nav a {
    padding: 0 1rem; }
  .navbar .headerimg {
    margin-left: 8rem; }
  .navbar .header-button {
    border: 1px solid #01AAE4;
    border-radius: 8px; }
  .navbar .people {
    border-right: 0.5px solid grey; }
  .navbar .supporticon {
    margin-left: 0.5rem; }
  @media (max-width: 500px) {
    .navbar .nav {
      display: none; } }

.companysection2 {
  margin-top: 60rem; }

.ctamodal {
  text-align: center;
  margin-top: 13rem; }
  .ctamodal .ctabtn {
    width: 10rem;
    height: 2rem;
    background: #01AAE4;
    border-radius: 8px; }
  .ctamodal .playstore {
    background: gradient(163.58deg, #19A3B4 -19.92%, #5BC3AF 17.22%, #C8F7A6 78.46%, #D7FEA5 86.75%); }
  .ctamodal .ctamodal a {
    color: #FA6866;
    text-decoration: none; }
  .ctamodal input[type=text] {
    width: 12rem;
    height: 1.5rem;
    border-radius: 0.3rem; }
  .ctamodal ::placeholder {
    padding-left: 0.5rem; }

.grid {
  display: flex;
  margin-left: 32rem;
  margin-top: 15rem; }
  .grid .gridp {
    text-align: center;
    margin-top: 2rem; }
  .grid .ctamodal2 {
    text-align: center;
    margin-top: 13rem; }
    .grid .ctamodal2 .ctabtn {
      width: 13rem;
      height: 2.3rem;
      margin-top: 2rem;
      background: #01AAE4;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
      border-radius: 8px; }
  .grid .subnavbarsection .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    margin: 5rem;
    overflow: hidden; }
  .grid .subnavbarsection .subnav {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center; }
  .grid .subnavbarsection a {
    text-decoration: none;
    color: skyblue; }
  .grid .subnavbarsection ul li {
    list-style: none;
    padding: 0 1rem; }
  .grid .feat {
    text-align: center; }
    .grid .feat .featp {
      margin-right: 21rem; }
    .grid .feat h3 {
      margin-right: 15rem; }
    .grid .feat p {
      margin-top: 1rem; }
  .grid .feat2 {
    margin-top: 5rem;
    text-align: center; }

* {
  padding: 0;
  margin: 0;
  font-family: "Raleway" "sans-serif"; }

section:nth-child(1) {
  background-color: #fafafa;
  padding-top: 150px;
  padding-bottom: 100px; }
  @media screen and (max-width: 600px) {
    section:nth-child(1) {
      display: none; } }
  section:nth-child(1) img {
    position: absolute;
    left: 950px;
    top: 75px; }
  section:nth-child(1) .container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    width: 80%;
    background-color: #f6f6f6;
    border: 1px dashed black;
    border-radius: 8px;
    padding: 40px;
    padding-bottom: 50px; }
    section:nth-child(1) .container .container-item h4, section:nth-child(1) section.container .container-item p {
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 10px;
      color: #505050;
      font-weight: 900; }
    section:nth-child(1) .container .container-item a {
      font-size: 16px;
      color: #01AAE4; }
    section:nth-child(1) .container .container-item i {
      margin-top: 10px; }

section.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  width: 80%;
  padding: 40px 0;
  position: relative; }
  @media screen and (max-width: 600px) {
    section.container {
      flex-direction: column; } }
  section.container .container-item {
    width: 27%;
    text-align: left; }
    @media screen and (max-width: 600px) {
      section.container .container-item {
        width: 90%;
        margin-bottom: 40px; } }
    section.container .container-item h4, section.container .container-item p {
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 10px;
      color: #505050;
      font-size: 18px; }
    section.container .container-item p {
      color: #878787;
      font-weight: normal;
      font-size: 16px; }

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px; }

#flex-container {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  margin-top: 40px;
  padding-bottom: 0px; }
  @media screen and (max-width: 767px) {
    #flex-container {
      flex-direction: column;
      width: 60%; } }
  @media screen and (max-width: 767px) {
    #flex-container .flex-item {
      margin-left: auto;
      margin-right: auto; } }
  #flex-container .flex-item img#logo {
    margin-bottom: 70px; }
    @media screen and (max-width: 767px) {
      #flex-container .flex-item img#logo {
        margin-bottom: 10px; } }
  #flex-container .flex-item h2 {
    margin-bottom: 0px; }
  #flex-container .flex-item #image-alone {
    margin-bottom: -4px;
    padding: 0px; }
    @media screen and (max-width: 767px) {
      #flex-container .flex-item #image-alone {
        display: none; } }

#form-container {
  background-color: #fafafa;
  padding-left: 10%;
  padding-top: 30px;
  color: #878787;
  font-weight: bold; }
  @media screen and (max-width: 767px) {
    #form-container {
      padding-left: 0px; } }
  #form-container h2 {
    margin-bottom: 55px; }
    @media screen and (max-width: 767px) {
      #form-container h2 {
        text-align: center;
        margin-bottom: 30px; } }
  #form-container form {
    width: 55%;
    padding-bottom: 40px;
    justify-content: space-around;
    border-bottom: 1px solid #ddd6d6; }
    @media screen and (max-width: 767px) {
      #form-container form {
        width: 100%; } }
    #form-container form .flex-form {
      display: flex;
      width: 100%; }
      @media screen and (max-width: 767px) {
        #form-container form .flex-form {
          flex-direction: column; } }
      #form-container form .flex-form .flex-item {
        height: 30px;
        margin-bottom: 20px; }
      #form-container form .flex-form .flex-item:nth-child(1) {
        padding-top: 8px;
        width: 35%; }
        @media screen and (max-width: 767px) {
          #form-container form .flex-form .flex-item:nth-child(1) {
            width: 80%;
            margin: 0 auto 0 auto;
            text-align: center; } }
      #form-container form .flex-form .flex-item:nth-child(2) {
        width: 70%;
        border: 1px solid #ddd6d6; }
        @media screen and (max-width: 767px) {
          #form-container form .flex-form .flex-item:nth-child(2) {
            width: 80%;
            margin: 0 auto 10px auto; } }
  #form-container button {
    height: 30px;
    width: 37%;
    border-radius: 8px;
    color: #ffffff;
    background-color: #01AAE4;
    border: none;
    margin-left: 18%;
    margin-top: 50px; }
    @media screen and (max-width: 767px) {
      #form-container button {
        width: 80%;
        margin-left: 10%;
        margin-top: 5px; } }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

.flex-container {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 90px  auto;
  flex-direction: row;
  flex-wrap: wrap; }
  @media screen and (max-width: 767px) {
    .flex-container {
      flex-direction: column; } }
  .flex-container #flex-item-1 {
    padding-top: 35px;
    width: 50%;
    padding-right: 30px;
    text-align: left; }
    @media screen and (max-width: 767px) {
      .flex-container #flex-item-1 {
        width: 80%;
        margin: 50px auto;
        padding-right: 0px; } }
    .flex-container #flex-item-1 h2 {
      font-size: 42px;
      line-height: 49px; }
      @media screen and (max-width: 767px) {
        .flex-container #flex-item-1 h2 {
          font-size: 30px;
          line-height: 27px;
          margin-bottom: 15px; } }
    .flex-container #flex-item-1 p {
      font-size: 24px;
      line-height: 32px;
      color: #878787; }
      @media screen and (max-width: 767px) {
        .flex-container #flex-item-1 p {
          font-size: 22px; } }
  .flex-container #flex-item-2 {
    width: 36%; }
    @media screen and (max-width: 767px) {
      .flex-container #flex-item-2 {
        width: 70%;
        margin: 0px auto;
        padding-right: 0px; } }
    .flex-container #flex-item-2 img {
      width: 420px;
      height: 304px; }

.container {
  position: relative;
  margin: 0px;
  padding: 0px; }
  .container img {
    position: absolute; }
  .container #one {
    left: 80px; }
    @media screen and (max-width: 767px) {
      .container #one {
        display: none; } }
  .container #two {
    right: 0px;
    top: 60px; }
  .container #three {
    right: 355px;
    top: 350px; }
    @media screen and (max-width: 767px) {
      .container #three {
        border: 2px solid red;
        top: 261px;
        right: 288px; } }
  .container #four {
    right: 480px;
    top: 110px; }
    @media screen and (max-width: 767px) {
      .container #four {
        top: 20px;
        right: 150px; } }
  .container #five {
    left: 354px;
    top: 143px; }
    @media screen and (max-width: 767px) {
      .container #five {
        display: none; } }
  .container #six {
    left: 0px;
    top: 100px; }
    @media screen and (max-width: 767px) {
      .container #six {
        display: none; } }
  .container #seven {
    top: 57px;
    left: 536px; }
    @media screen and (max-width: 767px) {
      .container #seven {
        display: none; } }
  .container #eight {
    top: 361px;
    right: 108px; }
    @media screen and (max-width: 767px) {
      .container #eight {
        top: 261px;
        right: 148px; } }
  .container #nine {
    top: 127px;
    left: 193px; }
    @media screen and (max-width: 767px) {
      .container #nine {
        display: none; } }
  .container #ten {
    left: 96px;
    top: 333px; }
    @media screen and (max-width: 767px) {
      .container #ten {
        display: none; } }
  .container #eleven {
    right: 314px;
    top: 173px; }
    @media screen and (max-width: 767px) {
      .container #eleven {
        display: none; } }
  .container #twelve {
    right: 293px;
    top: 83px; }
    @media screen and (max-width: 767px) {
      .container #twelve {
        right: 40px;
        top: 210px; } }
  .container #thirteen {
    right: 200px;
    top: 264px; }
    @media screen and (max-width: 767px) {
      .container #thirteen {
        display: none; } }
  .container #fouteen {
    left: 320px;
    top: 200px; }
    @media screen and (max-width: 767px) {
      .container #fouteen {
        display: none; } }
  .container div {
    position: absolute;
    top: 150px;
    z-index: 99;
    width: 35%;
    left: 32%; }
    @media screen and (max-width: 767px) {
      .container div {
        width: 75%;
        left: 0px;
        text-align: left;
        padding-left: 50px;
        top: 50px; } }
    .container div h3 {
      font-family: 'Source Serif Pro', serif;
      font-size: 28px;
      line-height: 36px;
      font-style: italic;
      text-align: center;
      font-weight: normal; }
      @media screen and (max-width: 767px) {
        .container div h3 {
          text-align: left; } }
    .container div p {
      color: #FA6866;
      text-align: center;
      font-size: 64px;
      line-height: 64px;
      margin: 0px;
      padding: 0px; }
      @media screen and (max-width: 767px) {
        .container div p {
          display: none; } }
    .container div h5 {
      text-align: center;
      font-size: 16px;
      line-height: 22px;
      margin: 0px;
      padding: 0px; }
      @media screen and (max-width: 767px) {
        .container div h5 {
          text-align: left; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  color: #ffffff;
  margin-right: 25px; }

main#company-second-section {
  background-color: #ffffff;
  font-family: "Raleway" "sans-serif"; }
  main#company-second-section #section-1 {
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto; }
    main#company-second-section #section-1 img#banner {
      width: 100%; }
    main#company-second-section #section-1 .container-item {
      position: absolute;
      width: 23%;
      top: 174px;
      left: 151px;
      text-align: left;
      color: #ffffff; }
      @media screen and (max-width: 1300px) {
        main#company-second-section #section-1 .container-item {
          width: 50%;
          left: 50px;
          top: 90px;
          padding-right: 50px; } }
      @media screen and (max-width: 1200px) {
        main#company-second-section #section-1 .container-item {
          width: 70%;
          left: 50px;
          top: 20px;
          padding-right: 50px; } }
      @media screen and (max-width: 767px) {
        main#company-second-section #section-1 .container-item {
          width: 80%; } }
      main#company-second-section #section-1 .container-item p {
        margin-bottom: 30px; }
        @media screen and (max-width: 1200px) {
          main#company-second-section #section-1 .container-item p {
            margin-bottom: 5px; } }
        @media screen and (max-width: 767px) {
          main#company-second-section #section-1 .container-item p {
            margin-bottom: 20px;
            font-size: 13px; } }
      main#company-second-section #section-1 .container-item p:nth-child(1) {
        font-size: 13px;
        line-height: 18px;
        opacity: 0.5; }
        main#company-second-section #section-1 .container-item p:nth-child(1) span {
          margin-left: 15px;
          cursor: pointer; }
          main#company-second-section #section-1 .container-item p:nth-child(1) span:active {
            opacity: 1; }
      main#company-second-section #section-1 .container-item h1 {
        font-size: 60px;
        line-height: 60px;
        margin: 20px 0; }
        @media screen and (max-width: 767px) {
          main#company-second-section #section-1 .container-item h1 {
            display: none;
            font-size: 30px;
            margin: 5px 0; } }
  main#company-second-section #section-2 h2 {
    color: #000000;
    font-size: 42px;
    line-height: 49px;
    margin-left: 10%;
    margin-top: 110px; }
    @media screen and (max-width: 767px) {
      main#company-second-section #section-2 h2 {
        margin-top: 0px;
        font-size: 25px; } }
  main#company-second-section #section-2 .slider {
    display: flex;
    width: 80%;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    padding-bottom: 70px;
    border-bottom: 1px solid #C4C4C4; }
    @media screen and (max-width: 767px) {
      main#company-second-section #section-2 .slider {
        display: none;
        flex-direction: column;
        margin-top: 5px; } }
    main#company-second-section #section-2 .slider #i2, main#company-second-section #section-2 .slider #i1, main#company-second-section #section-2 .slider #i3 {
      display: none; }
    main#company-second-section #section-2 .slider .flex-item-1 {
      width: 30%;
      background: #ffffff;
      box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      padding-bottom: 70px; }
      @media screen and (max-width: 767px) {
        main#company-second-section #section-2 .slider .flex-item-1 {
          width: 85%;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 18px; } }
      main#company-second-section #section-2 .slider .flex-item-1 img {
        width: 100%; }
      main#company-second-section #section-2 .slider .flex-item-1 h3 {
        color: #555555;
        margin: 30px 40px 5px 30px;
        font-size: 18px;
        line-height: 22px; }
      main#company-second-section #section-2 .slider .flex-item-1 p {
        color: #878787;
        margin-left: 30px;
        margin-right: 40px;
        font-size: 16px;
        line-height: 22px; }
  @media screen and (max-width: 767px) {
    main#company-second-section #section-2 #flex-container-1 {
      display: block;
      color: black;
      position: relative;
      height: 365px;
      width: 75%;
      border-bottom: 1px solid #C4C4C4; }
      main#company-second-section #section-2 #flex-container-1 #i2, main#company-second-section #section-2 #flex-container-1 #i1, main#company-second-section #section-2 #flex-container-1 #i3 {
        display: none; }
      main#company-second-section #section-2 #flex-container-1 #i1:checked ~ #first,
      main#company-second-section #section-2 #flex-container-1 #i2:checked ~ #second,
      main#company-second-section #section-2 #flex-container-1 #i3:checked ~ #third {
        z-index: 9; }
      main#company-second-section #section-2 #flex-container-1 .slide-content {
        position: absolute;
        width: 90%;
        height: 90%;
        z-index: -1; }
        main#company-second-section #section-2 #flex-container-1 .slide-content .pre {
          color: #000000;
          position: absolute;
          left: 90px;
          top: 300px;
          cursor: pointer; }
        main#company-second-section #section-2 #flex-container-1 .slide-content .next {
          color: #000000;
          position: absolute;
          right: 90px;
          top: 300px;
          cursor: pointer; } }
  main#company-second-section #section-3 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    width: 80%;
    padding-top: 80px;
    padding-bottom: 40px;
    position: relative; }
    @media screen and (max-width: 767px) {
      main#company-second-section #section-3 {
        padding-top: 50px;
        flex-direction: column; } }
    main#company-second-section #section-3 .container-item {
      width: 27%;
      text-align: left; }
      @media screen and (max-width: 767px) {
        main#company-second-section #section-3 .container-item {
          width: 90%;
          margin-bottom: 40px; } }
      main#company-second-section #section-3 .container-item h4, main#company-second-section #section-3 section.container .container-item p, section.container main#company-second-section #section-3 .container-item p {
        margin-top: 20px;
        color: #555555;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px; }
      main#company-second-section #section-3 .container-item p {
        color: #878787;
        font-size: 16px;
        line-height: 22px;
        margin-right: 40px; }
  main#company-second-section #section-4 {
    background: linear-gradient(180deg, #F6F6F6 0.3%, rgba(250, 250, 250, 0) 64.6%);
    clip-path: polygon(48% 2%, 79% 0, 100% 2%, 100% 100%, 48% 100%, 0 100%, 0 63%, 0 0, 22% 2%); }
    main#company-second-section #section-4 .mobile-form {
      display: none; }
      @media screen and (max-width: 767px) {
        main#company-second-section #section-4 .mobile-form {
          display: block; }
          main#company-second-section #section-4 .mobile-form h3 {
            color: #555555;
            text-align: left;
            font-size: 22px;
            line-height: 27px;
            width: 80%;
            padding-right: 70px;
            margin: 20px auto;
            padding-top: 60px; }
          main#company-second-section #section-4 .mobile-form form {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
            background: #FFFFFF;
            box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.05);
            border-radius: 8px;
            padding: 20px 0; }
            main#company-second-section #section-4 .mobile-form form .form-item {
              width: 90%;
              margin: 10px auto;
              height: 30px;
              border: 0.5px solid #878787;
              border-radius: 8px;
              padding-left: 15px; }
            main#company-second-section #section-4 .mobile-form form .form-item:last-child {
              background: #01AAE4;
              box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
              border-radius: 8px;
              border: none; } }
    main#company-second-section #section-4 h2 {
      width: 30%;
      margin: 50px 0 90px 10%;
      padding-top: 90px;
      padding-bottom: 60px;
      color: #555555; }
      @media screen and (max-width: 767px) {
        main#company-second-section #section-4 h2 {
          display: none; } }
    main#company-second-section #section-4 .flex-container-3 {
      background: linear-gradient(180deg, #F6F6F6 0.3%, rgba(250, 250, 250, 0) 64.6%);
      border-top: 2px solid #f6f6f6;
      border-right: 2px solid #f6f6f6;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-between;
      width: 80%;
      flex-wrap: wrap; }
      @media screen and (max-width: 767px) {
        main#company-second-section #section-4 .flex-container-3 {
          display: none; } }
      main#company-second-section #section-4 .flex-container-3 .flex-item-3 {
        width: 25%;
        padding-left: 33px;
        border-bottom: 2px solid #f6f6f6;
        border-left: 2px solid #f6f6f6; }
        main#company-second-section #section-4 .flex-container-3 .flex-item-3 img {
          margin-top: 40px; }
        main#company-second-section #section-4 .flex-container-3 .flex-item-3 h3 {
          color: #444444;
          font-size: 18px;
          margin-top: 30px; }
        main#company-second-section #section-4 .flex-container-3 .flex-item-3 h5 {
          font-size: 13px;
          color: #8C939C; }
        main#company-second-section #section-4 .flex-container-3 .flex-item-3 p {
          margin-bottom: 40px;
          color: #8C939C;
          font-size: 10px;
          margin-top: 75px; }
        main#company-second-section #section-4 .flex-container-3 .flex-item-3:hover {
          background-color: #ffffff;
          box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1); }
          main#company-second-section #section-4 .flex-container-3 .flex-item-3:hover h3, main#company-second-section #section-4 .flex-container-3 .flex-item-3:hover p {
            color: #01AAE4; }
      main#company-second-section #section-4 .flex-container-3 .flex-item-3:nth-child(8) {
        background-color: #F6F6F6; }
        main#company-second-section #section-4 .flex-container-3 .flex-item-3:nth-child(8) img {
          margin-top: 60px; }

.ctamodal {
  text-align: center;
  margin-top: 13rem; }
  .ctamodal .ctabtn {
    width: 10rem;
    height: 2rem;
    background: #01AAE4;
    border-radius: 8px; }
  .ctamodal .playstore {
    background: gradient(163.58deg, #19A3B4 -19.92%, #5BC3AF 17.22%, #C8F7A6 78.46%, #D7FEA5 86.75%); }
  .ctamodal .ctamodal a {
    color: #FA6866;
    text-decoration: none; }
  .ctamodal input[type=text] {
    width: 12rem;
    height: 1.5rem;
    border-radius: 0.3rem; }
  .ctamodal ::placeholder {
    padding-left: 0.5rem; }

.grid {
  display: flex;
  margin-left: 32rem;
  margin-top: 15rem; }
  .grid .gridp {
    text-align: center;
    margin-top: 2rem; }
  .grid .ctamodal2 {
    text-align: center;
    margin-top: 13rem; }
    .grid .ctamodal2 .ctabtn {
      width: 13rem;
      height: 2.3rem;
      margin-top: 2rem;
      background: #01AAE4;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
      border-radius: 8px; }
  .grid .subnavbarsection .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    margin: 5rem;
    overflow: hidden; }
  .grid .subnavbarsection .subnav {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center; }
  .grid .subnavbarsection a {
    text-decoration: none;
    color: skyblue; }
  .grid .subnavbarsection ul li {
    list-style: none;
    padding: 0 1rem; }
  .grid .feat {
    text-align: center; }
    .grid .feat .featp {
      margin-right: 21rem; }
    .grid .feat h3 {
      margin-right: 15rem; }
    .grid .feat p {
      margin-top: 1rem; }
  .grid .feat2 {
    margin-top: 5rem;
    text-align: center; }
