.company-subnav-1{
    display:block;
}


.companysection2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10rem;
    margin-left: 10rem;
    
    .hide-link {
        display: none;
    }
    .bear-footer {
        width: 30rem;
        height: 20rem;
        margin-right: 15rem;
        margin-top: -3rem;
    }
}

.companysection2-num {
    display: flex;
    margin-top: 10rem;
    margin-left: 15rem;
}

.company-graph {
    margin-top: 8rem;
    margin-left: 4rem;
}

.companysection-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5rem;
    margin-left: 5rem;
    .carrot {
        margin-right: 9rem;
        margin-top: -4rem;
    }
}

.company-footer-img {
    width: 60rem;
    margin-left: 10rem;
}

.company-media {
    display: none
}

.company-subnav-1{
    margin-top:5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
.company-subnavimg{
    margin-left:10rem;
}
    .company-subnav-ul{
        display:flex;
        li{
            margin-left:1rem;
        }
    }
}

.company-subnav-2{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    margin-top:5rem;
    margin-left:10rem;
}

.companysubnav2-num{
    
    margin-left:5rem;
    margin-top:5rem;
}





    

    
    
    .company-media {
       
        display: none;
        margin-top: 5rem;
        margin-left: 2rem;
        h1 {
            margin-bottom: 2rem;
        }
        p {
            margin-bottom: 2rem;
        }

       
        .company-media-img {
            margin-left:1rem;
            margin-top: 2rem;
            margin-bottom: 1rem;

            .company-media-img-22{
                margin-left:7rem;
            }
            .company-media-img-33{
                margin-left:7rem;
        
        }}

        .company-media-img2 {
            margin-left:1rem;
            margin-bottom: 2rem;

            .company-media-img2-55{
                margin-left:5rem;
            }
            .company-media-img2-66{
                margin-left:7rem;
            }
        }
    }


    @media(max-width:768px) {

        .company-subnav-1{
            display: none;
        }
        .company-graph {
        display: none;
    }
    .company-footer-img {
        display: none;
    }
    .companysection-footer {
        display: none;
    }



    .companysection2 {
       
        display: flex;
        flex-direction: column;
        margin-left: 7rem;
        margin-top: 5rem;
        .hide-link {
            display: block;
            color: skyBlue;
            margin-top: 1rem;
        }
        .bear-footer {
            width: 20rem;
            height: 15rem;
            margin-top: 5rem;
        }
    }


    .companysection2-num {
        
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        .company-item {
            margin-bottom: 2rem;
        }
    }
    .company-media {
       
        display: block;}
    }

    @media(max-width:580px){

        .companysection2 {
       
           
            margin-left: 1rem;
            
        
    
        .bear-footer {
            width: 15rem;
            height: 10rem;
            
        }
    }

    .company-media{
    .company-media-img {
            margin-left:0.1rem;
            margin-top: 0.2rem;
            margin-bottom: 0.2rem;

            .company-media-img-22{
                margin-left:0.1rem;
            }
            .company-media-img-33{
                margin-left:0.5rem;
        
        }}

        .company-media-img2 {
            margin-left:0.1rem;
            margin-bottom: 0.2rem;

            .company-media-img2-55{
                margin-left:0.2rem;
            }
            .company-media-img2-66{
                margin-left:0.2rem;
            }
        }
    }


    }
    