.container {
    overflow: hidden;
}

.sub-navbar1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3rem;
    position: relative;
    z-index: 2;
    .sub-nav {
        display: flex;
        li {
            margin-right: 1rem;
        }
        .sub-navbar-btn {
            border: 1px solid #01AAE4;
            border-radius: 8px;
        }
    }
}

.homepages-images {
    position: relative;
    margin-left: 15rem;
    z-index: 1;
    top: -23rem;
    .homepages-images1 {
        margin-bottom: 50rem;
    }
    .homepages-images2 {
        margin-bottom: 22rem;
    }
    .homepages-images3 {
        margin-bottom: 30rem;
    }
}

.subnav-feat {
    margin-left: 25rem;
    margin-top: -40rem;
    .feat2 {
        margin-left: -20rem;
        margin-top: 5rem;
        img {
            margin-left: 4rem;
        }
    }
}

.home-cta-modal {
    margin-top: 10rem;
    text-align: center;
    input[type] {
        width: 15rem;
        height: 2rem;
        border-radius: 2rem;
    }
    .home-cta-btn {
        width: 10rem;
        height: 2rem;
        background: $skyBlue;
        border: none;
        border-radius: 0.5rem;
        color: white;
    }
    h3 {
        margin-bottom: 1rem;
    }
    p {
        margin-bottom: 1rem;
    }
    .cta-modal_x {
        margin-left: 78rem;
        margin-bottom: 10rem;
    }
    .home-copyright {
        display: flex;
        margin-left: 29rem;
        margin-top: 10rem;
        margin-bottom: 2rem;
        .playstore {
            margin-left: 2rem;
        }
    }
}

.home-ctamodal-2 {
    margin-top: 10rem;
    text-align: center;
    .home-tick {
        margin-bottom: 2rem;
    }
    .home-cta-btn {
        width: 10rem;
        height: 2rem;
        background: $skyBlue;
        border: none;
        border-radius: 0.5rem;
        color: white;
        margin-top: 2rem;
    }
    .home-copyright {
        display: flex;
        margin-left: 29rem;
        margin-top: 10rem;
        margin-bottom: 2rem;
        .playstore {
            margin-left: 2rem;
        }
    }
}