<footer>
    <div class="restriction">
        <div class="main-footer">
            <div class="footer-1">
                <img src="https://res.cloudinary.com/dtbjhs8a6/image/upload/v1568412229/samples/figma%20homepage/s2c7y0uy86hmk4bsr6zv.png">
                <div> <img class="footer-image" src="https://res.cloudinary.com/dtbjhs8a6/image/upload/v1568629227/samples/figma%20homepage/m87et8yszesshavwinf0.png"><span style="margin-right:0.5rem">ENGLISH</span><img src="https://res.cloudinary.com/dtbjhs8a6/image/upload/v1568639192/samples/figma%20homepage/jp5v0zr7mtuisfme6icx.png"></div>

                <div> 
                        <a href="https://facebook.com"><i class="fa fa-facebook icon2"></i></a>
                        <a href="https://twitter.com"><i class="fa fa-twitter icon2"></i></a>
                        <a href="https://instagram.com"><i class="fa fa-instagram icon2"></i></a>
                        <a href="https://linkedin.com"><i class="fa fa-linkedin icon2"></i></a>
                        <a href="https://youtube.com"><i class="fa fa-youtube icon2"></i></a>
                        <a href="https://medium.com"><i class="fa fa-medium icon2"></i></a>
                    
                </div>
            </div>

            <div class="footer-2">
                <div>
                    <p class="footer-line">Hopper</p>
                    <ul>
                        <li> The app</li>
                        <li> Features</li>
                        <li> Deals</li>
                        <li> <a style="color:grey;text-decoration:none;" href="../pages/homepagesubnav.html">Homepage Subnav</a> </li>
                        <li>Terms of service</li>
                    </ul>
                </div>
                <div>
                    <p>Company</p>
                    <ul>
                        <li> About</li>
                        <li> The data</li>
                        <li> Investors</li>
                        <li> Locations</li>
                        <li><a style="color:grey;text-decoration:none;" href="../pages/careerdetails.html"> Careerdetails</a></li>
                    </ul>
                </div>

                <div>
                    <p>People</p>
                    <ul>
                        <li> Mission</li>
                        <li><a style="color:grey;text-decoration:none;" href="../pages/companysubnav.html">Company-sub</a></li>
                        <li> Values</li>
                        <li> Humans</li>
                        <li> <a style="color:grey;text-decoration:none;" href="./../pages/careerlist.html">Career<span style="background:coral;color:white;border-radius: 0.2rem;padding:0.1rem;margin-left:1rem;">47</span></a></li>
                    </ul>
                </div>

                <div>
                    <p>Support<img class="support-footer" src="https://res.cloudinary.com/dtbjhs8a6/image/upload/v1568629227/samples/figma%20homepage/qkyithncohhx6pvmgotw.png"></p>
                    <ul>
                        <li> Flights</li>
                        <li> Hotels</li>
                        <li> Predictions</li>
                        <li> Accounts</li>
                        <li>Contact us</li>
                    </ul>
                </div>

                <div>
                    <p>Media<img class="support-footer" src="https://res.cloudinary.com/dtbjhs8a6/image/upload/v1568629227/samples/figma%20homepage/qkyithncohhx6pvmgotw.png"></p>
                    <ul>
                        <li> Home</li>
                        <li> Press kit</li>
                        <li> Research</li>
                        <li> Contact</li>
                        <li>Search</li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</footer>

<div class="media-footer">
    <img class="media-hop" src="https://res.cloudinary.com/dtbjhs8a6/image/upload/v1569152594/samples/new%20folder/d44fypvhzbshckeixtfl.png">
    <ul>
        <li class="media-line">Company<span style="background:coral;color:white;border-radius: 0.2rem;padding:0.1rem;margin-left:1rem;">21</span><img class="media-push1" src="https://res.cloudinary.com/dtbjhs8a6/image/upload/v1569152619/samples/new%20folder/yxb2buurny5yrprcslrx.png"></li>
        <li class="media-line">People<img class="media-push2" src="https://res.cloudinary.com/dtbjhs8a6/image/upload/v1569152619/samples/new%20folder/yxb2buurny5yrprcslrx.png"></li>
        <li class="media-line">Support<img class="media-push3" src="https://res.cloudinary.com/dtbjhs8a6/image/upload/v1569152619/samples/new%20folder/yxb2buurny5yrprcslrx.png"></li>
        <li>Insights<img class="media-push4" src="https://res.cloudinary.com/dtbjhs8a6/image/upload/v1569152619/samples/new%20folder/yxb2buurny5yrprcslrx.png"></li>
    </ul>
    <select class="footer__input" placeholder="Select an option" name="fname">
        <option value="Language">Language</option>
        
    </select>

    <div class="icon">

    <a href="https://facebook.com"><i class="fa fa-facebook icon2"></i></a>
    <a href="https://twitter.com"><i class="fa fa-twitter icon2"></i></a>
    <a href="https://instagram.com"><i class="fa fa-instagram icon2"></i></a>
    <a href="https://linkedin.com"><i class="fa fa-linkedin icon2"></i></a>

    </div>
    <div class="media-terms">
    <a style="color:grey;text-decoration:none;"  href="#"><u>Terms of Service</u></a>
    </div>
    
    <p class="media-copy">&copy 2018 Hopper Inc.</p>
</div>
