<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/main.css">
    <title>Header</title>
</head>

<body>
    <header>
        <div class="restriction">
            <nav class="navbar">
                <div>
                    <a href="./../pages/homepage.html"><img class="headerimg" src="https://res.cloudinary.com/dtbjhs8a6/image/upload/v1569423612/samples/new%20folder/khcighwt6rzex3ttaqrv.svg">
                    </a>
                </div>
                <div>
                    <ul class="navbar-ul">
                        <li><a href="./../pages/company.html">COMPANY</a></li>
                        <li class="people-nav"><a href="people.html">PEOPLE</a></li>
                        <li><a href="#support">SUPPORT<img  class="support-nav" src="https://res.cloudinary.com/dtbjhs8a6/image/upload/v1568629227/samples/figma%20homepage/qkyithncohhx6pvmgotw.png"></a></li>
                        <li class="send-nav"><a href="#">Send app to your phone</a></li>
                    </ul>
                </div>
            </nav>

        </div>

        <div class="media-header">
            <img class="media-header1" src=https://res.cloudinary.com/dtbjhs8a6/image/upload/v1569152594/samples/new%20folder/zzf0xbkcjr4a4gjjfgyt.png>
            <img class="media-header2" src="https://res.cloudinary.com/dtbjhs8a6/image/upload/v1569423612/samples/new%20folder/khcighwt6rzex3ttaqrv.svg">

            <img class="media-header3" src="https://res.cloudinary.com/dtbjhs8a6/image/upload/v1569152594/samples/new%20folder/ta274azqkawrcgi9i5qn.png">

        </div>

    </header>

    <script src=js/main.js></script>
</body>

</html>