<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="navigation">
        <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#"><img class="imagge" src="https://res.cloudinary.com/dtbjhs8a6/image/upload/v1570399196/samples/figma%20homepage/bcch6keuom9pwj5mqzid.png"><img class="sign" src="https://res.cloudinary.com/dtbjhs8a6/image/upload/v1570275442/samples/figma%20homepage/banmjpfhwkbdjwor3due.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse"></div>
                <div class="collapse navbar-collapse"></div>
                <div class="collapse navbar-collapse"></div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav" style="margin-top: 2%;">
                    <li class="nav-item">
                      <a class="nav-link" href="company.html">COMPANY</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="people.html">PEOPLE <span>|</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="support.html">SUPPORT   <img src="https://res.cloudinary.com/dtbjhs8a6/image/upload/v1568629227/samples/figma%20homepage/qkyithncohhx6pvmgotw.png"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sendapptophone.html"><button type="button" class="nav-button">Send app to your Phone</button></a>
                    </li>
                  </ul>
                </div>
              </nav>
        </div>
  
    


















<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>