*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
 overflow-x: hidden;
 overflow-y: scroll;
 font-family: 'Proxima-Nova', sans-serif;

  @include for-phone-only(){
    
  }

.main1 {
  width: 85%;
  font-family: 'Proxima-Nova', sans-serif;
  // margin: 0 auto;
  // background: red;
 

.blue_cloud{
    z-index: -1;
   max-width: 99.95vw;
    height: 55%;
    overflow-x: hidden;
    position: relative;
    top: 100px;
    margin-bottom: 100px;

    @include for-phone-only{
      display: none;
    }
}
.w404_img {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 0;
    margin-left: 7%;
    // width: 85%;
    // margin: 0 auto;
    // background: yellow;

    .w404_img__txt {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 50%;
       margin-top: 130px;

       .w404__img--txtt{
        //  background: red;
        font-size: 46px;
        font-weight: 700;
        width: 90%;
        line-height: 1.2;
        word-spacing: 5px;
        color: rgba(0,0,0, 0.8);
        margin-top: 6rem;
        margin: 0 0 20px 0px;
        
       }
      
       .w404__img--txttt {
          width: 75%;
          font-size: 23px;
          font-weight: 100;
          color: lightgrey;
          line-height: 1.3;
          margin-left: -79px;

          a{
              text-decoration: none;
              color: aqua
          }
       }
       
    }
    .img--space_rabbit {
       margin-top: 12.0%;
       margin-right: 15%;
       width: 40%;
       height: 40%;
    }

    @include for-phone-only(){
      display: none;
    }
}
}

.w404_mob{
   display: none;

   a{
     color: aqua;
     text-decoration: none;

   }
  @include for-phone-only(){
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;

  }
  .w404_mob--txt{

    @include for-phone-only(){
      text-align: center;
      margin: 15px;
    }
    a{
      @include for-phone-only(){
        color: aqua;
      }
      
    }
  }
  .w404_mob--txtt{
    @include for-phone-only(){
      width: 98%;
      margin: 0 auto;
      text-align: center;
      margin: 15px 0 15px 0;
      line-height: 1.2;
      color: lightgrey;

    }
  }
  .space_rabbit--mob{
    @include for-phone-only(){
      width: 60%;
      margin: 0 auto;
      margin-top: 15px;
    }
  }
}
 
}