.main-footer {
    display: flex;
    margin: 4rem 0;
    color: $midGrey;
    a > i {
        margin-right: 2rem;
        margin-top: 9rem;
        color: $darkGrey;
    }
    .footer-1 {
        width: 40vw;
    }
    .footer-image {
        margin-right: 1rem;
        margin-top: 1.5rem;
    }
}

.footer-2 {
    display: flex;
    width: 60vw;
    p {
        margin-bottom: 1rem;
    }
    ul li {
        margin-bottom: 0.5rem;
        margin-right: 5rem;
    }
    .support-footer {
        margin-left: 0.5rem;
    }
    .footer-line {
        border-bottom: thick solid $midGrey;
        width: 4rem;
    }
}

@media(max-width:580px) {
    .footer-1 {
        display: none;
    }
    .footer-2 {
        display: none;
    }
}

.media-footer {
    display: none;
    margin-top: -5rem;
    ul {
        margin-top: 3rem;
        li {
            padding-bottom: 0.5rem;
            padding-top: 0.5rem;
        }
        .media-line {
            border-bottom: thin solid grey;
        }
    }
    .media-hop {
        margin-left: 8rem;
    }
    .media-lang {
        border: 1px solid grey;
        border-radius: 8px;
        height: 2rem;
        width: 28rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-left: 1rem;
        padding-top: 0.2rem;
        margin-left: 2rem;
    }
    .media-terms {
        margin-top: 10%;
        margin-left: 30%;
    }
    .media-push1 {
        margin-left: 180px;
    }
    .media-push2 {
        margin-left: 235px;
    }
    .media-push3 {
        margin-left: 230px;
    }
    .media-push4 {
        margin-left: 230px;
    }
    .media-push5 {
        margin-left: 250px;
    }
    a > i {
        margin-left: 1rem;
        margin-right: 2rem;
        margin-top: 2rem;
        color: $midGrey;
        background: $white;
        border-radius: 5rem;
        padding: 0.5rem;
    }
    .media-copy {
        margin-top: 1rem;
        padding-top: 1rem;
        color: $midGrey;
        border-top: thin solid grey;
        text-align: center;
    }
}

@media(max-width:580px) {
    .media-footer {
        display: block;
    }
    .footer__input {
        width: 300px;
        padding: 10px;
        border-radius: 8px;
    }
    .icon {
        display: flex;
        flex-direction: row;
        width: 300px;
    }
    .icon2 {
        width: 10px;
    }
}