.navbar1 {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: baseline;
    margin-top: 2rem;
    padding-top: 2rem;
    .header-b-back {
        display: flex;
        margin-left: 1rem;
        margin-top: 5%;
        .header-back-img{
            border:thin solid white;
            padding:0.3rem;
        }
    }
    .headerimg {
        margin-top: 1rem;
        margin-left: 12rem;

    }
    .navbar1-ul {
        display: flex;
        width: 50vw;
        justify-content: space-around;
        margin-top: 1rem;
        a {
            margin-right: 1.5rem;
            text-decoration: none;
            color: $white;
        }
        .people-nav {
            border-right: 0.5px solid $white;
            height: 1.5rem;
            margin-right: 1.5rem;
        }
        .send-nav {
            border: 1px solid $white;
            border-radius: 8px;
            height: 2.5rem;
            width: 16rem;
            padding-left: 1.3rem;
            padding-top: 0.2rem;
            margin-top: -0.2rem;
        }
        .send-navb {
            border: 1px solid $white;
            border-radius: 8px;
            height: 2.2rem;
            width: 16rem;
            padding-left: 1.3rem;
            padding-top: 0.2rem;
            margin-top: -0.4rem;
            margin-bottom: 1rem;
        }
        .support-nav {
            margin-left: 0.5rem;
            margin-bottom: 0.3rem;
            color: white;
        }
    }
}

@media (max-width:500px) {
    .navbar1 {
        display: none;
    }
}

.media-header {
    display: none;
    @media(max-width: 500px) {
        display: block;
        width: 100vw;
        .media-header1 {
            margin-left: 1rem;
            margin-bottom: 0.5rem;
        }
        .media-header2 {
            margin-left: 3rem;
            margin-top: 0.5rem;
        }
        .media-header3 {
            margin-top: -20%;
            margin-left: 17rem;
            margin-bottom: 0.2rem;
        }
    }
}

.header-button{
        border: 1px solid $skyBlue; 
        border-radius: 8px;
}

.people{
    border-right: 0.5px solid $midGrey;
    
}
.supporticon{
    @include supportIcon();
}


@media(max-width:500px){
    .navbar1{
       display: none;
    }
}



.navigation {
    margin-top: 2%; 
    padding-top: 3%;
}
.navbar {
    display: flex;
    flex-direction: row-reverse;

    .navbar-nav .nav-item .nav-link {
        color: $white;
        line-height: 17px;
    }
}

.navbar-toggler {
    justify-content: left;
}

.sign {
    display: none;
}
.imagge {
    margin-left: 160%;
}
.nav-button {
    background: transparent; 
    padding: 8px; 
    border-radius: 8px; 
    color: white; 
    margin-top: -5%;
    width: 280px;
    border: 1px solid $white;
}

@media screen and (max-width: 580px) {
    .sign {
        display: flex;
        margin-left: 100%;
        margin-top: -20%;
    }
    nav{
        display: flex;
        flex-direction: row-reverse;
        margin-left: 1%;
        margin-top: -7%;
    }
    .navbar-brand {
        margin-right: 50%;
    }
    .navbar-toggler {
        margin-top: 5%;
    }
    .imagge {
        margin-left: -50%;
        
    }
}