.navbar {
    display: flex;
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-left: 5rem;
    .navbar-ul {
        display: flex;
        margin-left: 22rem;
        width: 60vw;
        a {
            margin-right: 3rem;
        }
        .people-nav {
            border-right: 0.5px solid grey;
            margin-right: 3rem;
        }
        .button-nav {
            border: 1px solid #01AAE4;
            border-radius: 8px;
            height: 3rem;
            padding-top: 0.5rem;
            padding-left: 2.6rem;
        }
        .support-nav {
            margin-left: 0.5rem;
        }
    }
    @media(max-width:500px) {
        .navbar-ul {
            display: none;
        }
    }
}
